<h2>スケジュール編集</h2>

<% if flash.alert %>
<p class="alert"><%= flash.alert %></p>
<% end %>

<%= render "shared/error", obj: @post %>

<%= form_for @post do |f| %>
<table>
  <tr>
    <th><%= f.label :title ,"タイトル" %></th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th><%= f.label :start ,"開始日" %></th>
    <td><%= f.date_field :start %></td>
  </tr>
  <tr>
    <th><%= f.label :finish ,"終了日" %></th>
    <td><%= f.date_field :finish %></td>
  </tr>
  <tr>
    <th><%= f.label :check ,"終日" %></th>
    <td><%= f.check_box :check %>終日の場合はチェックを入れます</td>
  </tr>
  <tr>
    <th><%= f.label :memo ,"スケジュールメモ" %></th>
    <td><%= f.text_area :memo %></td>
  </tr>
</table>
<div>
  <ul>
    <li><%= f.submit "スケジュールの編集を完了する" %></li>
    <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
  </ul>
</div>
<% end %>