<h2>スケジュール詳細</h2>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @post.start.strftime("%Y年%-m月%-d日") %></td>
  </tr>
  <tr>
    <th>投稿日時</th>
    <td><%= @post.created_at.strftime("%Y年%-m月%-d日") %></td>
  </tr>
  <tr>
    <th>終日</th>
    <% if @post.check == true %>
    <td>◯</td>
    <% else %>
    <td></td>
    <% end %>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @post.memo %></td>
  </tr>
</table>
<ul>
  <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
  <li><%= link_to "スケジュールを編集する", [:edit,@post] %></li>
  <li><%= link_to "スケジュールを削除", @post, method: :delete, data: { confirm: "本当に削除しますか?"} %></li>
</ul>